{% import 'macros.jinja2' as tools%}
<strong>{{ title }}</strong>.
{%- if editor %}
  {{ editor }}, editors.
{%- else %}
  {{ author }}.
{%- endif %}
{{ publisher }}. {{ year }}
{{ tools.doi(doi) }}
{{ tools.url(url) }}
{{ tools.pdf(pdf) }}