{% import 'macros.jinja2' as tools%}
{%- if title %}
  <strong>{{ title }}</strong>.
{%- endif %}
{%- if author %}
  {{ author }},
{%- endif %}
{%- if howpublished %}
  {{ howpublished }}
{%- endif %}
{%- if year %}
  {{ year }}
{%- endif %}
{{ tools.doi(doi) }}
{{ tools.url(url) }}
{{ tools.pdf(pdf) }}
