{% import 'macros.jinja2' as tools%}
<strong>{{ title }}</strong>. {{ editor|safe }}, editors.
Vol {{ volume }} of {{ series }}. {{ year }}
{{ tools.doi(doi) }}
{{ tools.url(url) }}
{{ tools.pdf(pdf) }}