
img.bibicon {
    height: 14px;
    margin-left: 4px;
}

ul.biblist{
    list-style: none;
}

li.bibitem {
    margin: 0 0 20px 0;
}

h4.bibheader {
    border-bottom: 1px solid;
    font-style: italic;
}
